@model IEnumerable<Zipper.Models.WPerson>

@{
    ViewBag.Title = "Resultados";
}

<h2>Territorio de Censo - @ViewBag.Zipcode </h2>


    <table class="centered">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Endereço
        </th>
        <th>
            Número
        </th>
        <th>
            Fala Portuguese?
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td></td>
        </tr>
    }
</table>

    <div><br /></div>
    <div id="googleMap" style="width: 600px; height: 600px; margin-left:25%;"></div>


<script>
    $(document).ready(function () {

        var mapOptions = {
            center: new google.maps.LatLng(43.80281871904721, -100.28320312500001),
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var googleMap = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

        var resultData = {
            data: new Array(),
            latLons: new Array()
        };

        @foreach (var item in Model)
        {

             @:var latLong = new google.maps.LatLng(@item.Lat, @item.Lon);
             @:resultData.latLons.push(latLong);
             @:resultData.data.push('@item.Name @item.Address');

        }

        googleAddPushpins(googleMap, resultData);
    });
</script>
